/*--------------------------------------------------------------
# bg colors
--------------------------------------------------------------*/
:root {
    /* Animated Box */
    --d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #ea4a4c;
	--c2: #fafafa;

    --body-color: #212529;
    --body-bg: #f6f6f6;
    --body-bg2: #ffffff;
    --a: #81A1C1;
    --a-hover: #88C0D0;
    --link: #2c384e;
    --text-color01: #2E3440;
    --text-color02: #3B4552;
    --text-color03: #707070;
    --text-color04: #9C9C9C;
    --text-color05: #C6C6C6;
    --text-color06: #EAEAEA;
    --text-color07: #ECEFF4;
    --text-color08: #8FBCBB;
    --text-color09: #88C0D0;
    --text-color10: #81A1C1;
    --text-color11: #5E81AC;
    --text-color12: #BF616A;
    --text-color13: #D08770;
    --text-color14: #EBCB8B;
    --text-color15: #A3BE8C;
    --text-color16: #B48EAD;

    --collapse-bg: #ECEFF4;
    --collapse-border: #D8DEE9;

    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    --header-bg: #173f8a;
    --header-color: #F2F5F9;
    --header-icon-color: #F2F5F9;
    --header-text-color: #F2F5F9;
    --header-menu-bg: #FFFFFF;
    --header-menu-bg-hover: #ECEFF4;
    --header-menu-border: #D8DEE9;
    --header-menu-color: #2E3440;
    --header-btn-color: #fff;
    --header-btn-bg: #282D37;
    --header-btn-border: #21262E;
    --header-btn-hover-color: #fff;
    --header-btn-hover-bg: #21262E;
    --header-btn-hover-border: #21262E;
    --header-btn-active-color: #fff;
    --header-btn-active-bg: #21262E;
    --header-btn-active-border: #21262E;

    /*--------------------------------------------------------------
    # Menu normal
    --------------------------------------------------------------*/
    --dropdown-menu-bg: #C6C6C6;
    --dropdown-menu-item: #FFFFFF;
    --dropdown-menu-item-hover: #ECEFF4;
    --dropdown-menu-border: #5e81ac;
    --dropdown-menu-color: #2E3440;
    --dropdown-menu-color-icon: #5E81AC;
    --dropdown-menu-color-header: #FFFFFF;
    --dropdown-menu-color-footer: #C6C6C6;
    --dropdown-menu-color-footer-link: #88C0D0;

    /*--------------------------------------------------------------
    # Menu sistema
    --------------------------------------------------------------*/
    --dropdown-menu-large-bg: #FFFFFF;
    --dropdown-menu-large-bg-hover: #ECEFF4;
    --dropdown-menu-large-border: #D8DEE9;
    --dropdown-menu-large-color: #707070;
    --dropdown-menu-large-color-disabled: #ECEFF4;
    --dropdown-menu-large-color-header: #C6C6C6;
    --dropdown-menu-large-color-tittle: #173f8a;
    --dropdown-menu-large-color-subtittle: #4C566A;
    --dropdown-menu-large-color-divider: #D8DEE9;

    /*--------------------------------------------------------------
    # Menu lateral
    --------------------------------------------------------------*/
    --sidebar-scrollbar: #aab7cf;
    --sidebar-bg: #282D37;
    --sidebar-bg-border: #2F3541;
    --sidebar-color: #eceff4;
    --sidebar-color-hover: #e5e9f0;
    --sidebar-color-active: #5e81ac;

    /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
    --footer-bg: #03122e;
    --footer-color: #F2F5F9;
    --footer-link: #88C0D0;
    --btn-white-color: #ffffff;

    /*--------------------------------------------------------------
    # Cards
    --------------------------------------------------------------*/
    --card-border-color: #C6C6C6;
    --card-header-color: #173f8a;
    --card-header-border: #e5e9f0;
    --card-header-bg: #ffffff;
    --card-footer-color: #173f8a;
    --card-footer-color-title: #5E81AC;
    --card-footer-color-subtitle: #9C9C9C;
    --card-footer-border: #e5e9f0;
    --card-footer-bg: #ffffff;
    --card-title: #5E81AC;
    --card-subtitle: #3B4552;
    --card-img-overlay: rgba(255, 255, 255, 0.6);

    /*--------------------------------------------------------------
    # Formularios
    --------------------------------------------------------------*/
    --form-form-control-input: #173f8a;

    /*--------------------------------------------------------------
    # Tabs
    --------------------------------------------------------------*/

    /*--------------------------------------------------------------
    # Tabs - Standard
    --------------------------------------------------------------*/
    --tabs-color: #173f8a;
    --tabs-bordered: #e5e7eb;

    --tabs-color-hover: #3b82f6;
    --tabs-color-active: #084fc3;

    --tabs-bg: #ffffff;
    --tabs-bg-hover: #ffffff;
    --tabs-bg-active: #ffffff;

    --tabs-border: #ffffff;
    --tabs-border-hover: #ffffff;
    --tabs-border-active: #084fc3;


    /*--------------------------------------------------------------
    # Tabs - Inverted
    --------------------------------------------------------------*/
    --tabs-inverted-color: #ffffff;
    --tabs-inverted-color-hover: #6eb5ff;
    --tabs-inverted-color-active: #173f8a;

    --tabs-inverted-bg: #173f8a;
    --tabs-inverted-bg-hover: #2e3440;
    --tabs-inverted-bg-active: #ffffff;

    --tabs-inverted-border: #173f8a;
    --tabs-inverted-border-hover: #2e3440;
    --tabs-inverted-border-active: #ffffff;

    /*--------------------------------------------------------------
    # Tabs - Complement
    --------------------------------------------------------------*/
    --tabs-complement-color: #173f8a;
    --tabs-complement-color-hover: #ffffff;
    --tabs-complement-color-active: #ffffff;

    --tabs-complement-bg: #ffffff;
    --tabs-complement-bg-hover: #173f8a;
    --tabs-complement-bg-active: #084fc3;

    --tabs-complement-border: #e5e7eb;
    --tabs-complement-border-hover: #173f8a;
    --tabs-complement-border-active: #084fc3;

    /*--------------------------------------------------------------
    # Pills Tabs
    --------------------------------------------------------------*/
    --pills-tabs-color: #173f8a;
    --pills-tabs-color-hover: #3b82f6;
    --pills-tabs-color-active: #ffffff;

    --pills-tabs-bg: #ffffff;
    --pills-tabs-bg-hover: #f3f4f6;
    --pills-tabs-bg-active: #084fc3;

    --pills-tabs-border: #ffffff;
    --pills-tabs-border-hover: #f3f4f6;
    --pills-tabs-border-active: #084fc3;

    /*--------------------------------------------------------------
    # Botones
    --------------------------------------------------------------*/

    /* primary */
    --btn-primary-color: #ffffff;
    --btn-primary-bg: #3b82f6;
    --btn-primary-bg-light: rgba(59, 130, 246, 0.3);
    --btn-primary-border: #2563eb;
    --btn-primary-hover-color: #ffffff;
    --btn-primary-hover-bg: #084fc3;
    --btn-primary-hover-border: #084fc3;
    --btn-primary-active-color: #ffffff;
    --btn-primary-active-bg: #084fc3;
    --btn-primary-active-border: #084fc3;

    /* secondary */
    --btn-secondary-color: #ffffff;
    --btn-secondary-bg: #6b7280;
    --btn-secondary-bg-light: rgba(107, 114, 128, 0.3);
    --btn-secondary-border: #4b5563;
    --btn-secondary-hover-color: #ffffff;
    --btn-secondary-hover-bg: #4b5563;
    --btn-secondary-hover-border: #4b5563;
    --btn-secondary-active-color: #ffffff;
    --btn-secondary-active-bg: #4b5563;
    --btn-secondary-active-border: #4b5563;

    /* success */
    --btn-success-color: #ffffff;
    --btn-success-bg: #10b981;
    --btn-success-bg-light: rgba(16, 185, 129, 0.3);
    --btn-success-border: #059669;
    --btn-success-hover-color: #ffffff;
    --btn-success-hover-bg: #047857;
    --btn-success-hover-border: #047857;
    --btn-success-active-color: #ffffff;
    --btn-success-active-bg: #047857;
    --btn-success-active-border: #047857;

    /* danger */
    --btn-danger-color: #ffffff;
    --btn-danger-bg: #EA5757;
    --btn-danger-bg-light: rgba(234, 87, 87, 0.3);
    --btn-danger-border: #d94343;
    --btn-danger-hover-color: #ffffff;
    --btn-danger-hover-bg: #CC4848;
    --btn-danger-hover-border: #CC4848;
    --btn-danger-active-color: #ffffff;
    --btn-danger-active-bg: #CC4848;
    --btn-danger-active-border: #CC4848;

    /* warning */
    --btn-warning-color: #ffffff;
    --btn-warning-bg: #F3C541;
    --btn-warning-bg-light: rgba(243, 197, 65, 0.3);
    --btn-warning-border: #d4a91f;
    --btn-warning-hover-color: #ffffff;
    --btn-warning-hover-bg: #dda408;
    --btn-warning-hover-border: #dda408;
    --btn-warning-active-color: #ffffff;
    --btn-warning-active-bg: #dda408;
    --btn-warning-active-border: #dda408;

    /* info */
    --btn-info-color: #ffffff;
    --btn-info-bg: #6eb5ff;
    --btn-info-bg-light: rgba(110, 181, 255, 0.3);
    --btn-info-border: #459ee8;
    --btn-info-hover-color: #ffffff;
    --btn-info-hover-bg: #459ee8;
    --btn-info-hover-border: #459ee8;
    --btn-info-active-color: #ffffff;
    --btn-info-active-bg: #459ee8;
    --btn-info-active-border: #459ee8;

    /* light */
    --btn-light-color: #374151;
    --btn-light-bg: #f3f4f6;
    --btn-light-bg-light: rgba(243, 244, 246, 0.3);
    --btn-light-border: #d1d5db;
    --btn-light-hover-color: #374151;
    --btn-light-hover-bg: #e5e7eb;
    --btn-light-hover-border: #d1d5db;
    --btn-light-active-color: #374151;
    --btn-light-active-bg: #e5e7eb;
    --btn-light-active-border: #d1d5db;

    /* dark */
    --btn-dark-color: #ffffff;
    --btn-dark-bg: #3b4252;
    --btn-dark-bg-light: rgba(59, 66, 82, 0.3);
    --btn-dark-border: #2e3440;
    --btn-dark-hover-color: #ffffff;
    --btn-dark-hover-bg: #2e3440;
    --btn-dark-hover-border: #2e3440;
    --btn-dark-active-color: #ffffff;
    --btn-dark-active-bg: #2e3440;
    --btn-dark-active-border: #2e3440;

    /* link */
    --btn-link-color: #ffffff;
    --btn-link-bg: #9ea5b3;
    --btn-link-bg-light: rgba(158, 165, 179, 0.3);
    --btn-link-border: #858d9c;
    --btn-link-hover-color: #ffffff;
    --btn-link-hover-bg: #858d9c;
    --btn-link-hover-border: #858d9c;
    --btn-link-active-color: #ffffff;
    --btn-link-active-bg: #858d9c;
    --btn-link-active-border: #858d9c;

    /* rgba */
    --btn-primary-rgba: rgba(59, 130, 246, 0.5);
    --btn-secondary-rgba: rgba(107, 114, 128, 0.5);
    --btn-success-rgba: rgba(16, 185, 129, 0.5);
    --btn-danger-rgba: rgba(234, 87, 87, 0.5);
    --btn-warning-rgba: rgba(243, 197, 65, 0.5);
    --btn-info-rgba: rgba(110, 181, 255, 0.5);
    --btn-dark-rgba: rgba(59, 66, 82, 0.5);
    --btn-light-rgba: rgba(243, 244, 246, 0.5);
    --btn-link-rgba: rgba(158, 165, 179, 0.5);

    /* disabled */
    --btn-primary-disabled: #dbd8d8;
    --btn-secondary-disabled: #dbd8d8;
    --btn-success-disabled: #dbd8d8;
    --btn-danger-disabled: #dbd8d8;
    --btn-warning-disabled: #dbd8d8;
    --btn-info-disabled: #dbd8d8;
    --btn-dark-disabled: #dbd8d8;
    --btn-light-disabled: #dbd8d8;
    --btn-link-disabled: #dbd8d8;

}
